<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.prime.com.tr/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Hibernate-Spring-JSF Crud</title>
</h:head>
<h:body>
	<h:form>
	<p:panel id="mainPanel" header="Simple Crud" style="width:300px" toggleable="true" >
	<table>
		<tr>
			 <p:growl id="growl" showDetail="true" />   
		</tr>
		<tr>
			<td><h:outputText value="Nim :     "/></td>
			<td colspan="2"><h:inputText id="txtNim" required="true" requiredMessage="NIM harus diisi" value="#{biodataManipulation.nim}" /></td>
			<td><h:commandButton type="submit" value="Find" action="#{biodataManipulation.searchBiodata}" /></td>
		</tr>
		<tr>
			<td><h:outputText value="Nama :     "/></td>
			<td colspan="3"><h:inputText id="txtNama" value="#{biodataManipulation.nama}" /></td>
		</tr>
		<tr>
			<td><h:outputText value="Jurusan :     "/></td>
			<td colspan="3">
			<h:inputText id="txtJurusan" value="#{biodataManipulation.jurusan}" />
			</td>
		</tr>
		<tr>
			<td><h:outputText value="Alamat :     "/></td>
			<td colspan="3"><h:inputTextarea id="txtAlamat" value="#{biodataManipulation.alamat}" /></td>
		</tr>
		<tr>
			<td><h:commandButton type="submit" value="Save" action="#{biodataManipulation.saveBiodata}" update="growl"/></td>
			<td><h:commandButton type="submit" value="  Edit  " action="#{biodataManipulation.updateBiodata}" /></td>
			<td><h:commandButton type="submit" value="Delete" action="#{biodataManipulation.deleteBiodata}" /></td>
			<td><h:commandButton value="Clear" type="submit" action="#{biodataManipulation.clear}"/></td>
		</tr>
	</table>
	</p:panel>
	</h:form>
</h:body>
</html>